<!-- Place details page -->

<h1><%= @place["name"] %></h1>

<h2>Entries</h2>

<ul>
  <% for entry in @entries %>
    <li>
      <a href="/entries/<%= entry["id"] %>">
        <%= entry["title"] %>, <%= entry["description"] %>,
        <%= entry["occurred_on"] %>
      </a>
    </li>
  <% end %>
</ul>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>

<p><a href="/places">Back to All Places</a></p>

<form action="/places/<%= @place["id"] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete Place</button>
</form>